$colorRed: orange;
$border: 2px solid $colorRed;
$bgc: rgba(#f3e2c7, 0.7);

.box {
    
    width: 100%;

    h2.scss {
        text-align: center;
        color: red;
        padding: 20px;
        border: $border;
        border-radius: 5px;
        background-color: $bgc;
        margin-bottom: 20px;
    }
}
