@import './fonts.css';
@import "normalize.css";

h2 { 
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: orangered;
    font-weight: 400;

}

.logo {
    background: url('images/wp-logo.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
}