.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    color: orangered;
}

.logo {
    background: url('../assets/images/wp-logo.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}